<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>iRedAdmin light - {% block title %}{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/chota.min.css" />
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <nav class="nav">
      <div class="nav-left">
        <a class="brand" href="/"><img src="/static/logo-iredmail.png" alt="iredmail logo" /> iRedAdmin Light</a>
        

      </div>
      <div class="nav-right">
        {% if session['email'] %}
        <a class="button outline" href="{{url_for('logout')}}">Выйти {{session['email']}}</a>
        {% endif %}
      </div>
    </nav>
    {% block body %}{% endblock %}
  </body>
</html>
